---
layout: yummy_main
---
	<div class="morsel">
		<div class="example">
			
			<div class="lightbox_wrap">
				<div class="lightbox default" id="lightbox_1">
					{% include html/save_or_cancel %}
				</div>
			</div>

			<ul class="color_switch">
				<li class="label">Color</li>
				<li><a href="#" onclick="lightbox_switch_to('lightbox_1', 'default'); return false">Default</a>
				<li><a href="#" onclick="lightbox_switch_to('lightbox_1', 'dark_scheme'); return false">Yummy</a></li>
				<li><a href="#" onclick="lightbox_switch_to('lightbox_1', 'signals'); return false">37Signals</a></li>
				<li><a href="#" onclick="lightbox_switch_to('lightbox_1', 'linkedin'); return false">LinkedIn</a></li>
			</ul>

			<div style="clear:both;"></div>

			<ul class="actions">
				<li><a href="#" onclick="toggle_code('code_1', this);return false">Show code</a></li>
			</ul>

		</div>

		<div id="code_1" style="display:none;">
			<h2>Html:</h2>
				{% highlight html %}{% include html/save_or_cancel %}{% endhighlight %}

			<h2>Css:</h2>
				{% highlight css %}{% include css/save_or_cancel %}{% endhighlight %}

		</div>

	</div>
