<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>YummyUI | Web Design Praxis</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" href="css/highlight.css" type="text/css">
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<script>
		var lightbox_switch_to = function(eid, scheme_class) {
			document.getElementById(eid).className = "lightbox " + class;
		}
	</script>
</head>
<body>
	<a href="/" class="logo"><img src="images/yummy_ui_logo.png"></a>
	<div class="content">
		{{ content }}
	</div>
</body>
</html>