body {
	font-family: helvetica,arial,clean,sans-serif;
}

a {
	text-decoration:none;
}

h2 {
	font-size:1em;
	margin:20px auto 0;
	width:450px;
}

.content {
	width: 600px;
	margin: 0 auto;
}

.logo {
	display: block;
	width: 225px;
	height: 85px;
	margin: 25px auto;
}

.logo img { border:0; }

.example .lightbox {
	width: 250px;
	padding: 25px;
	border: 10px solid #333;
	margin: 0 0 0 140px;
	text-align: center;
	float:left;
}

.example .lightbox .default a {
	text-decoration:underline;
}

.dark_scheme {
	border: 10px solid #ccc;
	background:#333;
	color:#fff;
}

.dark_scheme a, .dark_scheme a:visited {
	color:#057BFF;
}

.dark_scheme a:hover {
	text-decoration:underline;
}

.example .color_switch {
	width: 125px;
	float: right;
	padding: 0;
	list-style:none;
	font-size:0.9em;
	margin:0;
}

.example .color_switch .label {
	border-bottom:1px dotted #ccc;
	font-weight:bold;
	margin-bottom:6px;
}

.example .color_switch li {
	margin-bottom:3px;
}

.highlight {
	padding: 8px 45px 2px 25px;
	background: #eee;
	margin: 5px auto 0;
	border: 1px solid #ccc;
	line-height:1.3em;
	width:350px;
}