---

---

body {
	font-family: helvetica,arial,clean,sans-serif;
}

a {
	text-decoration:none;
}

h2 {
	font-size:1em;
	margin:20px auto 0;
	width:450px;
}

.content {
	width: 600px;
	margin: 0 auto;
}

.logo {
	display: block;
	width: 225px;
	height: 85px;
	margin: 25px auto;
}

.logo img { border:0; }

.lightbox_wrap {
	border: 10px solid #222;
	width: 250px;
	margin: 0 0 0 140px;
	float:left;
}

.example .lightbox {
	padding: 25px;
	border: 1px solid #404040;
	text-align: center;
}

.example .lightbox.default a {
	text-decoration:underline;
}

.example .lightbox input {
	font-size:14px;
}

.input_wrap {
	display:inline;
}

/* Dark Scheme */

.lightbox.dark_scheme {
	background:#333;
	color:#fff;
}

.lightbox.dark_scheme a, .lightbox.dark_scheme a:visited {
	color:#057BFF;
}

.lightbox.dark_scheme a:hover {
	text-decoration:underline;
}

/* 37s */

.lightbox.signals {
	background:#fff;
	color:#000;
}

.lightbox.signals a, .lightbox.signals a:visited {
	color:#f00;
	text-decoration:underline;
	padding: 1px;
}

.lightbox.signals a:hover {
	background-color:#f00;
	color:#fff;
}


/* LinkedIn */

.lightbox.linkedin {
	background:#fff;
	color:#000;
}

.lightbox.linkedin input {
	background-color:#3399CC;
	border:0;
	border-top:1px solid #CAD7E9;
	border-left:1px solid #CAD7E9;
	font-weight:bold;
	color:#fff;
	padding:2px 8px 1px;
	font-size:12px;
}

.lightbox.linkedin .input_wrap {
	border:1px solid #006699;
	padding:3px 0 1px;
}

.lightbox.linkedin a {
	color:#3399CC;
	text-decoration:none;
}

.lightbox.linkedin a:visited {
	color:#7495C6;
}

.lightbox.linkedin a:hover {
	text-decoration:underline;
}





.example .color_switch {
	width: 125px;
	float: right;
	padding: 0;
	list-style:none;
	font-size:0.9em;
	margin:0;
}

.example .color_switch .label {
	border-bottom:1px dotted #ccc;
	font-weight:bold;
	margin-bottom:6px;
}

.example .color_switch li {
	margin-bottom:3px;
}

.example .actions {
	padding: 0 10px;
	list-style:none;
	width:300px;
	margin: 6px auto 0;
	font-size:12px;
}

.example .actions li {
	float:left;
	width:100px;
	border-right:1px dotted #ccc;
	text-align:center;
}

.highlight {
	padding: 8px 45px 2px 25px;
	background: #eee;
	margin: 5px auto 0;
	border: 1px dotted #aaa;
	line-height:1.3em;
	width:350px;
}